block content
    .card-autor
        div(class="card-img")
            img(src=config.author.photo)
            
        div(class="card-bio")
            div(class="card-icons")
                <a href=config.author.linkedin >
                    img(src="/github.png", alt="ico-github")
                </a>
                    
                a(href=config.author.linkedin)
                    img(src="/linkedin.png", alt="ico-linkedin")
                a(href=config.author.twitter)
                    img(src="/twitter.png", alt="ico-twitter")
            div(class="card-txt")
